<div class="container">
  <div class="row">
    <div class="col-md-6 my-5">
      <h1>マイページ</h1>
    </div>
    <div class="col-md-6 d-flex flex-column justify-content-end align-items-end">
      <%= attachment_image_tag @user, :image, size:"100x100", fallback: "no_image.jpg", class: "rounded-circle mx-3 mt-4" %>

      <%= link_to "編集", edit_user_path(current_user.id), class: "btn btn-success col-md-3 m-2" %>
    </div>
  </div>


  <% if user_signed_in? %>
    <div class="row mt-3">
      <h3 class="col-md-12 ml-3">
        <%= @user.name %>さん の予定入力済みイベント
      </h3>
    </div>

    <div class="row mt-3">
      <table class="table table-hover table inverse col-md-12">
        <thead>
          <th class="table-active col-md-3" style="width:auto;">イベント名</th>
          <th class="table-active col-md-3" style="width:auto;">予定日時</th>
          <th class="table-active col-md-3" style="width:auto;">自分の参加予定</th>
        </thead>
        <tbody>
          <% @events.each do |f| %>
          <tr data-href="<%= event_path(f.event_id) %>", style="cursor: hand; cursor:pointer;">
            <td><%= f.event.event_name %></td>
            <td><%= l f.event.event_at, format: :schedule %></td>
            <td><%= f.status %></td>

          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>


</div>

<!-- 行全体をリンク化 -->
<script>
  $(document).ready(function () {
    $("tr[data-href]").click(function (e){
      if (!$(this).is('a')) {
        window.location = $(this).data('href');
      };
    });
  });
</script>