<div class="container">
  <div class="row">
    <div class="col-md-5 my-5">
      <h1><%= @event.event_name %></h1>
    </div>
  </div>

  予定日時：<%= @event.event_at %>
  説明：<%= @event.description %>
  作成者：<%= @event.user_name %>

  <!-- 既に参加しているユーザーIDは省く -->
  <% if user_signed_in? && @event.user_id != current_user.id %>
    <div class="row mt-3">
      <%= link_to "ログインしているユーザー名で参加する", events_path, method: :post, class: "btn btn-primary" %>
    </div>
  <% end %>

  <div class="row mt-3">
    <table class="table col-md-8">
      <thead>
        <th class="table-active col-md-3">
          名前
        </th>
        <th class="table-active col-md-3">
          参加予定
        </th>
      </thead>

      <tbody>
        <% @users.each do |f| %>
        <tr>
          <td><%= f.user_name %></td>
          <td><%= f.status %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <%= link_to "編集する", edit_event_path(@event.id), class: "btn btn-success btn-sm" %>

  <!-- ログインしているかつ、ログインしているユーザーとイベント作成者のURLが同じ場合のみ表示 -->
  <% if user_signed_in? %>
    <% if @event.user_id == current_user.id %>
      <%= link_to "削除する", event_path(@event.id), method: :delete, class:"btn btn-danger btn-sm", data: {confirm: "このイベント【" + @event.event_name + "】を削除しますか？"} %>
    <% end %>
  <% end %>
  </div>

</div>