<div class="container">
  <div class="row">
    <div class="col-md-5 my-5">
      <h1><%= @event.event_name %></h1>
    </div>
  </div>

  <div class="row">
    <p>予定日時：<%= @event.event_at %></p>
    <p>説明：<%= @event.description %></p>
    <p>作成者：<%= @event.user_name %></p>

    <!-- @eventモデルのuser_idが空（非ログインユーザーで作成されたもの）だったら誰でも編集可能
         また、user_idが入っている場合ログインしてるユーザーと一致すれば、その人のみが編集可能 -->
    <div class="col-md-3">
      <% if @event.user_id == nil || @event.user_id == current_user.id %>
        <%= link_to "編集する", edit_event_path(@event.id), class: "btn btn-success mr-3" %>
      <% end %>

      <!-- ログインしているかつ、ログインしているユーザーとイベント作成者のURLが同じ場合のみ表示 -->
      <% if user_signed_in? %>
        <% if @event.user_id == current_user.id %>
          <%= link_to "削除する", event_path(@event.id), method: :delete, class:"btn btn-danger",
          data: {confirm: "このイベント【" + @event.event_name + "】を削除しますか？"} %>
        <% end %>
      <% end %>
    </div>
  </div>

  <!-- 既に参加しているユーザーIDは省く -->
  <% if user_signed_in? && @event.user_id != current_user.id %>
    <div class="row m-3">
      <%= link_to "ログインしているユーザー名で参加する", events_path, method: :post, class: "btn btn-primary" %>
    </div>
  <% end %>

  <div class="row mt-3">
    <table class="table col-md-8">
      <thead>
        <th class="table-active col-md-3">
          名前
        </th>
        <th class="table-active col-md-3">
          参加予定
        </th>
        <th class="table-active col-md-2"></th>
      </thead>

      <tbody>
        <% @users.each do |f| %>
        <tr>
          <td><%= f.user_name %></td>
          <td><%= f.status %></td>
        </tr>
        <% end %>
      </tbody>
    </table>

    <div class="col-md-4">
      <div>
        <%= form_with model: @comment, url: comments_path, method: :post, local: true do |f| %>
          <% unless user_signed_in? %>
            <%= f.text_field :user_name, placeholder: "名前", class: "form-control" %>
          <% else %>
            <%= attachment_image_tag current_user, :image, size:"75x75", fallback: "no_image.jpg", class: "rounded-circle" %>
            <%= current_user.name %>
          <% end %>

          <%= f.text_area :comment, placeholder: "コメントを入力", class: "form-control" %>
          <%= f.submit "投稿する", class: "btn btn-primary btn-sm" %>
        <% end %>
      </div>

      <% @comments.each do |f| %>
        <%= attachment_image_tag f.user, :image, size:"75x75", fallback: "no_image.jpg", class: "rounded-circle" %>
        <%= f.user.name %>
        <%= f.comment %>
        <%= f.created_at %>
      <% end %>
    </div>
  </div>
</div>
