<div class="container">
  <div class="row">
    <div class="col-lg-5 my-5">
      <h1><%= @event.event_name %></h1>
    </div>
    <div class="col-lg-7 d-flex flex-column justify-content-end align-items-end">
      <div class="d-flex-inline">
        <!-- @eventモデルのuser_idが空（非ログインユーザーで作成されたもの）だったら誰でも編集可能
         また、user_idが入っている場合ログインしてるユーザーと一致すれば、その人のみが編集可能 -->
        <% if @event.user_id != nil %>
          <% if user_signed_in? %>
            <% if @event.user_id == current_user.id %>
              <%= link_to "イベントを編集する", edit_event_path(@event.id), class: "btn btn-success m-2" %>
            <% end %>
          <% end %>
        <% else %>
          <%= link_to "イベントを編集する", edit_event_path(@event.id), class: "btn btn-success m-2" %>
        <% end %>

        <!-- ログインしているかつ、ログインしているユーザーとイベント作成者のURLが同じ場合のみ表示 -->
        <% if user_signed_in? %>
          <% if @event.user_id == current_user.id %>
            <%= link_to "イベントを削除する", event_path(@event.id), method: :delete, class:"btn btn-danger my-2 ml-2",
            data: {confirm: "このイベント【" + @event.event_name + "】を削除しますか？"} %>
          <% end %>
        <% end %>
      </div>
      <div class="bd-highlight">予定日時：<%= l @event.event_at, format: :schedule %></div>
      <div class="bd-highlight">オーナー：<%= @event.user_name %></div>
      <div class="bd-highlight">簡単な説明：<%= @event.description %></div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <b><p>参加する：<%= @users.where(status: 0).count %>人　　保留：<%= @users.where(status: 1).count %>人　　参加しない：<%= @users.where(status: 2).count %>人</p></b>
    </div>
  </div>


  <div class="row m-3">
    <%= form_with model: [@event,@event_join], url: event_event_join_statuses_path(@event.id), local: true do |f| %>
      <%= f.label "名前を入れて予定を入力する" %>
      <div class="d-flex">
        <%= f.hidden_field :user_id, value: nil %>
        <%= f.hidden_field :status, value: "参加する" %>
        <%= f.text_field :user_name, placeholder: "名前", class: "form-control ml-2" %>
        <%= f.submit "予定を入力する", class: "btn btn-success ml-3" %>
      </div>
    <% end %>
  </div>

  <div class="slideBoxOnOff">
    <div class="slideBox">
      <% @comments.each do |f| %>
        <% if f.image_id.present? %>
          <div class="imgOnOff">
            <%= attachment_image_tag f, :image, size:"100%x100%", class: "slideImg" %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <!-- 既に参加しているユーザーIDは省く -->
  <% if user_signed_in? && @event.event_join_statuses.where(user_id: current_user.id).blank? %>
    <div class="row m-3">
      <%= form_with model: [@event,@event_join], url: event_event_join_statuses_path(@event.id), local: true do |f| %>
        <%= f.hidden_field :user_id, value: current_user.id %>
        <%= f.hidden_field :status, value: "参加する" %>
        <%= f.hidden_field :user_name, value: current_user.name %>
        <%= f.submit "ログインしているユーザー名で予定を入力する", class: "btn btn-primary ml-2" %>
      <% end %>
    </div>
  <% end %>

  <div class="row mt-3">
    <table class="table col-lg-6" style="table-layout:fixed; height:170px;">
      <thead class="thead-light">
        <th style="width:65px;"></th>
        <th style="width:100px;">
          名前
        </th>
        <th style="width:auto;">
          予定状況
        <th style="width:100px;"></th>
      </thead>

      <tbody>
        <% @users.each do |f| %>
        <tr>
          <td class="align-middle">
            <% unless f.user_id.blank? %>
              <%= attachment_image_tag f.user, :image, size:"50x50", fallback: "no_image.jpg", class: "rounded-circle" %>
            <% end %>
          </td>
          <td class="align-middle" style="word-wrap:break-word; width:200px;">
            <!-- 非登録ユーザー（idが格納されていない）人のみ名前表示（DBの設計ミス） -->
            <% if f.user_id.blank? %>
              <%= f.user_name %>
            <% else %>
              <%= f.user.name %>
            <% end %>
          </td>
          <td class="form-inline">
            <div class="d-flex align-items-center">
            <%= form_with model: [@event,f], url: event_event_join_status_path(@event.id,f.id), method: :patch, local: true do |f| %>
              <%= f.select :status, EventJoinStatus.statuses.keys.to_a, {}, class: "form-control" %>
              <%= f.submit "更新", class: "btn btn-success btn-sm ml-3" %>
            <% end %>
            </div>
          </td>
          <td class="align-middle">
             <%= link_to "削除", event_event_join_status_path(@event, f.id), method: :delete, data: {confirm: "この予定を削除しますか？"}, class: "btn btn-danger btn-sm" %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>

    <div class="col-lg-6">
      <div>
        <%= form_with model: [@event,@comment], local: true do |f| %>
          <% unless user_signed_in? %>
            <%= f.label "名前" %>
            <%= f.text_field :user_name, placeholder: "名前", class: "form-control" %>
          <% else %>
            <%= attachment_image_tag current_user, :image, size:"75x75", fallback: "no_image.jpg", class: "rounded-circle" %>
            <%= current_user.name %>
          <% end %>

          <div class="form-group mt-2">
            <%= f.label "コメントする" %>
            <%= f.text_area :comment, placeholder: "コメントを入力", class: "form-control" %>
          </div>


          <div class="text-right m-3 mb-4 form-group">
            <%= f.attachment_field :image, class: "form-control-file" %>
            <%= f.submit "投稿する", class: "btn btn-primary btn-sm" %>
          </div>
        <% end %>
      </div>

      <div>

      <% @comments.each do |f| %>
        <div class="row mt-3 justify-content-between d-flex p-1 rounded border">
          <div class="col-lg-2 mt-3">
            <%= attachment_image_tag f.user, :image, size:"75x75", fallback: "no_image.jpg", class: "rounded-circle" %>
          </div>


          <div class="col-lg-10">
            <div class="justify-content-between d-flex">
              <p class="ml-4 mt-2">
                <% if f.user_id.blank? %>
                  <%= f.user_name %>
                <% else %>
                  <%= f.user.name %>
                <% end %>
              </p>
              <p class="text-right mr-4"><%= l f.created_at, format: :comment %></p>
            </div>

            <div class="row d-flex align-items-center">
              <div class="ml-4 p-1 says">
                <p class="m-2"><%= f.comment %></p>
              </div>

              <% if user_signed_in? %>
                <div class="col-lg-2">
                  <% if f.user_id == current_user.id %>
                    <div class="text-right">
                      <%= link_to "削除", event_comment_path(f.event_id,f.id), method: :delete,
                        data: {confirm: "このコメントを削除しますか？"}, class: "btn btn-danger btn-sm my-2" %>
                    </div>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>

      </div>

    </div>
  </div>
</div>
