<div class="container">
  <div class="row">
    <div class="col-md-5 my-5">
      <h1><%= @event.event_name %></h1>
    </div>
  </div>

  予定日時：<%= @event.event_at %>
  説明：<%= @event.description %>
  作成者：<%= @event.user_name %>

  <% @users.each do |f| %>
    参加者：<%= f.user_name %>
  <% end %>

  <%= link_to "編集する", edit_event_path(@event.id), class: "btn btn-success btn-sm" %>

  <!-- ログインしているかつ、ログインしているユーザーとイベント作成者のURLが同じ場合のみ表示 -->
  <% if user_signed_in? %>
    <% if @event.user_id == current_user.id %>
      <%= link_to "削除する", event_path(@event.id), method: :delete, class:"btn btn-danger btn-sm", data: {confirm: "このイベント【" + @event.event_name + "】を削除しますか？"} %>
    <% end %>
  <% end %>

</div>