<%= render "devise/shared/error_messages", resource: resource %>

<div class="container">
  <div class="row">
    <div class="col-md-3 m-5 px-4 py-1 text-center">
      <h2>ログインする</h2>
    </div>
  </div>

  <%= form_with model: @user, url: user_session_path, local: true do |f| %>
    <div class="form-group row">
      <%= f.label "メールアドレス", class: "col-md-3 offset-md-2" %>
      <%= f.email_field :email, placeholder: "sample@email.co.jp", class: "form-control col-md-5" %>
    </div>

    <div class="form-group row">
      <%= f.label "パスワード", class: "col-md-3 offset-md-2" %>
      <%= f.password_field :password, autocomplete: "new-password", class: "form-control col-md-5" %>
    </div>

    <div class="form-group text-center btn-lg">
      <%= f.submit "ログインする", class: "btn btn-primary ml-3 mt-3", style: "width: 20%" %>
    </div>
  <% end %>
</div>